.create-item {
  margin: 10px;
  border: solid #ccc 2px;
  box-shadow: 0 1px #ccc;
  border-radius: 10px;
  padding: 10px;
}

.work-input{
  display: flex;
  justify-content: center;
}

.inputs-flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
