.menu-item-container  {
  padding: 10px;
  color: white !important;
  cursor: pointer;
  display: flex;
  justify-content: space-between;

  :hover {
    text-decoration: underline;
  }
}

.menu-divider {
  background-color: #666;
  height: 2px;
  margin: 15px 15px;
}

