.admin-text {
  font-size: 1.2em;
  color: #888;
}

.admin-header{

}

.outside-button-flex{
  display: flex;
  justify-content: center;
}

.button-flex{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30%;
}
