.wolf-logo-header {
  padding: 10px;
  margin-right: 2em;
  width: 70px;
}
.form-location InputLabel,
.form-location #input-with-icon-adornment {
  color: white;
}
.Multitoolbar-root {
  justify-content: space-between;
}
.login-btn-header,
.MuiButtonBase-root {
  flex-grow: 1;
}