.menu {
  z-index:1000;
  overflow-y: auto;
  max-height: 100vh;
  min-height: 100%;
  width: 350px;
  padding: 20px;
  background-color: #424242;
  color: white;
  position: absolute;
  top:0;
  left: 0;
}

.back-button-container {
  padding: 10px;
  color: white !important;
  cursor: pointer;
  display: flex;
  justify-content: center;

  :hover {
    text-decoration: underline;
  }
}
